@model PiUi.Models.PresetActivationModel

@{
    ViewBag.Title = "Update Timer";
    Layout = "_Layout";
}

<h2>Update Timer</h2>
@using (Html.BeginForm("Update", "Timing", FormMethod.Post))
{
    <input type="hidden" name="Id" value="@Model.Id" /><br />
    <select name="SelectedPreset">
        @foreach (var preset in Model.AllPresets)
        {
            <option value="@preset" selected="@(Model.SelectedPreset == preset)">@preset</option>
        }
    </select><br />
    <input type="time" name="ActivationTime" value="@Model.ActivationTime.ToString(@"hh\:mm")" /><br /><br />
    <label>@Html.EditorFor(x => x.Active) Active</label><br />
    <label>@Html.EditorFor(x => x.Monday) Monday</label><br />
    <label>@Html.EditorFor(x => x.Tuesday) Tuesday</label><br />
    <label>@Html.EditorFor(x => x.Wednesday) Wednesday</label><br />
    <label>@Html.EditorFor(x => x.Thursday) Thursday</label><br />
    <label>@Html.EditorFor(x => x.Friday) Friday</label><br />
    <label>@Html.EditorFor(x => x.Saturday) Saturday</label><br />
    <label>@Html.EditorFor(x => x.Sunday) Sunday</label><br />
    <input type="submit" name="Save" value="Save" />
}