@model ModulesViewModel

@{
    ViewBag.Title = "Module Overview";
    Layout = "_Layout";
}

<h2>Module Overview</h2>
<table>
    <tr>
    <td>
        @Html.Label("Name")
    </td>
    <td>
        @Html.Label("Direct Link")
    </td>
    <td>
        @Html.Label("Detail")
    </td>
    @foreach (var module in Model.ExtendedModules)
    {
        <tr>
            <td>
                @Html.Label(module.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { module.Id })
            </td>
            <td>
                @Html.ActionLink("Detail", "Details", new {module.Id})
            </td>
        </tr>
    }
    <tr>
        <td>@Html.ActionLink("Add", "Add")</td>
    </tr>
</table>