@model LogViewModel

@{
    ViewBag.Title = Model.Module.Module.Name + "-Logs";
    Layout = "_Layout";
}

<h2>Logs for feature @Model.Feature.Name</h2>
@Html.BeginForm(FormMethod.Get)
{
<input type="hidden" name="moduleId" value="@Model.Module.Module.Id" />
<input type="hidden" name="featureId" value="@Model.Feature.Id" />
<label>From</label>
<input type="datetime" name="from" />
<label>To</label>
<input type="datetime" name="to" />
<input type="submit" value="Load" />
}
<br />
<div id="logChart" style="width: 100%; height: 600px;"/>
<script src="/js/plotly-latest.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var trace = {
        x: [@Html.Raw(string.Join(',', Model.Values.Values.Select(x => $"\'{x.time.ToString("s")}\'")))],
        y: [@Html.Raw(string.Join(',', Model.Values.Values.Select(x => x.value.ToString("##.00") + Model.Values.Unit)))],
        mode: 'lines',
        type: 'scatter',
        name: '@Model.Feature.Name'
    };
    var data = [trace];
    var layout = {
        xaxis: {
            type: 'date',
            title: 'Date'
        },
        yaxis: {
            title: '@Model.Values.Name'
        },
        title:'@Model.Values.Name from @Model.Values.Values.Min(x => x.time).ToString("f") to @Model.Values.Values.Max(x => x.time).ToString("f")'
    };
    Plotly.newPlot('logChart', data, layout);
</script>
