@model ButtonOverviewViewModel

@{
    ViewBag.Title = "Buttons";
    Layout = "_Layout";
}

<h2>Buttons</h2>

@foreach(var button in Model.Buttons)
{
        @using (Html.BeginForm("Edit", "Button", FormMethod.Post, htmlAttributes: new {Id =$"b{button.Id}"}))
        {
            @Html.HiddenFor(x => button.Id)
        }
}
<table>
    <tr>
        <td></td>
        <td>Name</td>
        <td>Toggle Group</td>
        <td>Is On</td>
        <td></td>
        <td>Delete</td>
    </tr>
    @foreach(var button in Model.Buttons)
    {
        <tr>
            <td>@Html.TextBoxFor(x => button.Name, htmlAttributes: new { form = $"b{button.Id}" })</td>
            <td>@Html.TextBoxFor(x => button.ToggleGroup, htmlAttributes: new { form = $"b{button.Id}" })</td>
            <td>@button.IsOn</td>
            <td>
                <button type="submit" form=@("b"+button.Id)>Save</button>
            </td>
            <td>@Html.ActionLink("Delete", "Delete", "Button", new { id = button.Id })</td>
        </tr>
    }
    
    @using (Html.BeginForm("Add", "Button", FormMethod.Post))
    {
        <tr>
            <td></td>
            <td>@Html.TextBox(nameof(ButtonViewModel.Name))</td>
            <td>@Html.TextBox(nameof(ButtonViewModel.ToggleGroup))</td>
            <td></td>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    }
</table>

<h2>Actions</h2>
<table>
    <tr>
        <td>Button</td>
        <td>Action</td>
        <td>On Action</td>
        <td>Off Action</td>
        <td>Description</td>
        <td>Save</td>
        <td>Delete</td>
        <td>Test</td>
    </tr>
    @foreach (var action in Model.Actions)
    {
        <tr>
            @using (Html.BeginForm("EditAction", "Button", new {buttonId = action.ButtonId, actionId = action.Action}, FormMethod.Post))
            {
                <td>
                    @Html.HiddenFor(x => action.ButtonId)
                    <label>@Model.Buttons.FirstOrDefault(x => x.Id == action.ButtonId)?.Name</label>
                </td>
                <td><label>@action.Action</label></td>
                <td>@Html.DropDownListFor(x => action.OnPresetId, Model.Presets.Select(x => new SelectListItem(x.Value, x.Key.ToString(), x.Key==action.OnPresetId)))</td>
                <td>@Html.DropDownListFor(x => action.OffPresetId, Model.Presets.Select(x => new SelectListItem(x.Value, x.Key.ToString(), x.Key==action.OffPresetId)))</td>
                <td>@Html.TextBoxFor(x => action.Description)</td>
                <td>
                    <button type="submit">Update</button>
                </td>
            }
            <td>@Html.ActionLink("Delete", "DeleteAction", "Button", new {buttonId = action.ButtonId, actionId = action.Action})</td>
            <td>@Html.ActionLink("Test", "TriggerAction", "Button", new {buttonId = action.ButtonId, actionId = action.Action})</td>
        </tr>
    }
    <tr>
        @using (Html.BeginForm("AddAction", "Button", FormMethod.Post))
        {
            <td>@Html.DropDownList(nameof(ButtonActionViewModel.ButtonId), Model.Buttons.Select(x => new SelectListItem(x.Name, x.Id.ToString(), false)))</td>
            <td>@Html.TextBox(nameof(ButtonActionViewModel.Action))</td>
            <td>@Html.DropDownList(nameof(ButtonActionViewModel.OnPresetId), Model.Presets.Select(x => new SelectListItem(x.Value, x.Key.ToString(), false)))</td>
            <td>@Html.DropDownList(nameof(ButtonActionViewModel.OffPresetId), Model.Presets.Select(x => new SelectListItem(x.Value, x.Key.ToString(), false)))</td>
            <td>@Html.TextBox(nameof(ButtonActionViewModel.Description))</td>
            <td>
                <button type="submit">Save</button>
            </td>
        }
    </tr>
</table>